<!DOCTYPE html>
<html>
  <head>
    <title>User List</title>
    <style>
      .center {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>User List</h1>
    <div class="center">
      <select>
        {% for row in data %}
        <option value="{{ row['id'] }}">{{ row['username'] }}</option>
        {% endfor %}
      </select>
    </div>
    <button onclick="location.href='/login'">Login</button>

    <iframe
      width="100%"
      height="500px"
      style="
        box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
        border-radius: 15px;
      "
      allowtransparency="true"
      allowfullscreen="true"
      scrolling="no"
      title="Embedded DrawSQL IFrame"
      frameborder="0"
      src="https://drawsql.app/teams/vaseis/diagrams/test/embed"
    ></iframe>
  </body>
</html>
